.active-nav,
nav a {
  padding-right: 0;
  display: block;
  padding: .5rem 1rem;
  padding-left: 0;
  text-decoration: none;
  background-color: transparent;
}

.active-nav,
.active-nav:hover {
  color:#f7f7ff;;

}

nav a,
nav a:hover {
  color: rgba(255,255,255,.5);
}

a.navbar-brand {
  color: #f7f7ff;
}

.navbar-main {
  display: none !important
}
